<section class="bg-primary-ambient py-12">
  <div class="container mx-auto px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 text-center">

    <!-- Soporte 24/7 -->
    <div class="flex flex-col items-center gap-2 text-white">
      <div class="bg-blue-500 rounded-full size-16 flex items-center justify-center text-3xl font-bold">
        24
      </div>
      <h3 class="text-3xl font-bold">24/7</h3>
      <p class="text-md">Soporte</p>
    </div>

    <!-- Tipos de incidentes -->
    <div class="flex flex-col items-center gap-2 text-white">
      <div class="bg-red-500 rounded-full size-16 flex items-center justify-center text-2xl">
        <svg width="24" height="24" viewBox="0 0 16 16">
          <use xlink:href="/assets/sprite.svg#fire2" />
        </svg>
      </div>
      <h3 class="text-3xl font-bold">90+</h3>
      <p class="text-md">Tipos de incidentes y eventos</p>
    </div>

    <!-- Lugares observados -->
    <div class="flex flex-col items-center gap-2 text-white">
      <div class="bg-purple-600 rounded-full size-16 flex items-center justify-center text-2xl">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="/assets/sprite.svg#ubication" />
        </svg>

      </div>
      <h3 class="text-3xl font-bold">50</h3>
      <p class="text-md">Lugares observados</p>
    </div>

  </div>
</section>
